{{> head}}

{{> navbar}}

<div class="row">

	<div class="col-8">
		<h1>About us</h1>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit doloribus, tempora ipsum quis sit temporibus repudiandae provident quam placeat dolorem recusandae nam quaerat earum eligendi totam, cum at error? Voluptatem.</p>
	</div>
	<div class="col-8">
		<img  src="assets/img/ironman2.png" class="img-thumbnail" height="100%">
	</div>
</div>

{{> footer}}